@page
@model SchoolLocker.WebApp.Pages.Pupils.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h2>@ViewData["Message"]</h2>
<h3>Pupil</h3>
<form method="post">
    <table class="table">
        <tbody>       
            <tr>
                <th>
                    FirstName
                </th>
                
                <th>
                    LastName
                </th>
            </tr>    
        </tbody>
    </table>
</form>
